body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #2c2c2c, #616161);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #2c2c2c;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h2 {
    margin-bottom: 20px;
    color: white;
}

input {
    width: 93%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #444;
    color: white;
}

input::placeholder {
    color: #bbb;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #9e9e9e;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #4fc3f7;
}

a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}