<h2>Ajouter Chauffeur</h2>

<form action="/add_chauffeur" method="POST">

    ID Chauffeur:
    <input type="text" name="id_chauffeur" required><br><br>

    Nom :
    <input type="text" name="nom" required><br><br>

    Prénom :
    <input type="text" name="prenom" required><br><br>

    Telephone:
    <input type="text" name="telephone"><br><br>

    Password:
    <input type="password" name="password" required>



    <button type="submit">Ajouter</button>

</form>

<br>
<a href="/chauffeur">⬅ Retour</a>