<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Login Chauffeur</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/chauffeur_login.css') }}">

</head>

<body>

<div class="card">

    <h2> Login</h2>

    <form method="POST" action="/chauffeur-login">

        <input type="text" name="id_chauffeur" placeholder="Votre ID" required>

        <input type="password" name="password" placeholder="Code" required>

        <button type="submit">Connexion</button>

    </form>

    <p style="text-align:center; margin-top:10px;">
        <a href="/">← Retour </a>
    </p>

</div>

</body>
</html>