<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Login / Signup</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<script src="{{ url_for('static', filename='js/login.js') }}" defer></script>

</head>

<body>

<div class="card">

    <div class="tabs">
        <span onclick="showLogin()">Login</span>
        <span onclick="showSignup()">Sign Up</span>
    </div>

    <!-- LOGIN -->
    <form id="loginForm" method="POST" action="/login">

        <input type="text" id="loginTel" name="telephone" placeholder="Numéro" required maxlength="8">
        <div id="loginError"></div>

        <input type="password" name="password" placeholder="Mot de passe" required>

        <button type="submit">Connexion</button>

    </form>

    <!-- SIGNUP -->
    <form id="signupForm" method="POST" action="/signup" style="display:none;">

        <input type="text" name="nom" placeholder="Nom" required>
        <input type="text" name="prenom" placeholder="Prénom" required>

        <input type="text" id="signupTel" name="telephone" placeholder="Numéro" required maxlength="8">
        <div id="signupError"></div>

        <input type="password" name="password" placeholder="Mot de passe" required>

        <button type="submit">Créer un compte</button>

    </form>


</div>

</body>
</html>