<h1>Bus Nouakchott</h1>

<form action="/add_reservation" method="POST">

<h3>Choisir une ligne</h3>

<select name="ligne">
    <option>Ligne 1</option>
    <option>Ligne 2</option>
</select><br><br>

Arrêt:
<input type="text" name="arret"><br><br>

Horaire:
<input type="text" name="horaire"><br><br>

Nom complet:
<input type="text" name="nom"><br><br>

Nombre de places:
<input type="number" name="places"><br><br>

<h3>Paiement</h3>

Téléphone:
<input type="text" name="telephone"><br><br>

Méthode:
<select name="paiement">
    <option>Bankily</option>
    <option>Masrivi</option>
    <option>Sedad</option>
</select><br><br>

<button type="submit">Valider paiement</button>

</form>